.notice-detail{
  .notice-detail-title{
    background-color: #eeefef;
    padding: 10px 0 10px 10px;
    font-size: 0.9rem;
  }
  .notice-detail-content{
    padding: 10px 10px 0 10px;
    color: #37383a;
    font-size: 0.85rem;
  }
}