.notice{
  position: absolute;
  width: 100vw;
  height: 100vh;
  .notice-info{
    padding: 0 0.5rem;
    .notice-item{
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #eeeff1;
      padding: 0.7rem 0;
      font-size: 0.85rem;
      .notice-icon{
        color: #ffad99;
      }
      .notice-text{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex-grow: 1;
        width: 60vw;
      }
      .notice-time{
        display: flex;
        justify-content: flex-end;
        font-size: 0.7rem;
        flex-grow: 1;
        width: 40vw;
      }
    }
  }
}
.no-data{
  display: flex;
  font-size: 0.75rem;
  width: 65%;
  margin: 0 auto;
  padding-top: 3rem;
  line-height: 1.6rem;
  text-align: center;
  .no-data-text{
    position: relative;
    top: -0.9rem;
    padding: 0 0.55rem;
    color: #999999;
  }
}
.no-data:before{
  position: relative;
  top: -1px;
  flex: 1;
  content: '';
  border-top: 1px solid #E5E5E5;
}
.no-data:after{
  position: relative;
  top: -1px;
  flex: 1;
  content: '';
  border-top: 1px solid #E5E5E5;
}